.workspace{
    text-align:left;
    color: white;
    height: 100%;
    width: 100%;
}
.workspace_title{
    color: white;
    padding-top: 15px;
    font-size: 20px;
}
.new_project{
    margin-top: 28px;
}
.gutter_box_app{
    background-color: #2F3033;
    height: 100px;
}
.gutter_box_app:hover{
    background-color: rgb(53, 89, 180);
    cursor: pointer;
}

.gutter_box_system{
    background-color: #2F3033;
    height: 100px;
}
.gutter_box_system:hover{
    background-color: #2F3033;
    cursor: pointer;
}

.plus_icon{
    background-color: #383A3D;
    height: 70px;
    width: 70px;
    margin-top: 15px;
    margin-left: 15px;
    float: left;
}
.new_title{
    float: left;
    padding-left: 15px;
    font-size: 25px;
    font-weight: bold;
    color: #D3D5E0;
    line-height: 100px;
}
.my_project{
    margin-top: 20px;
}