.container {
    display: inline
}

.codingInfos {
    display: none;
    position: sticky;
    top: 0;
}
.optionInfos {
    display: none;
    position: sticky;
    top: 0;
    padding: 5px;
}

.list-group-item {
    padding-left: 25px;
    padding-right: 35px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 35px;
    margin-right: auto;

}

pre {

    white-space: pre-wrap;

    word-wrap: break-word;

}

h4 {
    text-align: center;
}

.title_timer {
    text-align: center;
}